<div class="container-fluid">
    <p>{{message}}</p>
    <div class="row">
        <div class="btn-group">
            <gamebutton position="00"></gamebutton>
            <gamebutton position="01"></gamebutton>
            <gamebutton position="02"></gamebutton>
            <gamebutton position="03"></gamebutton>
        </div>
    </div>
    <div class="row">
        <div class=" btn-group">
            <gamebutton position="10"></gamebutton>
            <gamebutton position="11"></gamebutton>
            <gamebutton position="12"></gamebutton>
            <gamebutton position="13"></gamebutton>
        </div>
    </div>
    <div class="row">
        <div class=" btn-group">
            <gamebutton position="20"></gamebutton>
            <gamebutton position="21"></gamebutton>
            <gamebutton position="22"></gamebutton>
            <gamebutton position="23"></gamebutton>
        </div>
    </div>
    <div class="row">
        <div class=" btn-group">
            <gamebutton position="30"></gamebutton>
            <gamebutton position="31"></gamebutton>
            <gamebutton position="32"></gamebutton>
            <gamebutton position="33"></gamebutton>
        </div>
    </div>
</div>